.container-fluid
  %nav.navbar.navbar-expand-lg.bg-light
    .container.d-flex.flex-row
      %a.navbar-brand{:href => "/"}
        %h3 App Name
        -# .container.d-flex.flex-row.justify-content-between.align-items-center
        -#   .d-flex.justify-content-between.w-100
        -#     .d-flex.justify-content-between.align-items-center
        -#       = button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger ps-2"
        -# .container.d-flex.flex-row.justify-content-between.align-items-center
        -#   .d-flex.justify-content-between
        -#   .d-flex.justify-content-between.align-items-center
        -#     = button_to "Login", new_user_session_path, class: "btn btn-primary ps-2"
