%nav.navbar.navbar-expand-lg.bg-light
  - if organization_signed_in?
    .container.d-flex.justify-content-between.align-items-center
      %div.d-flex.justify-content-between.align-items-center
        %a.navbar-brand{:href => "/"}
          %h1 #{current_organization.organization_name}
        = link_to "Dashboard", dashboard_path, :class => "nav-link"
      %div
        = button_to "Logout", destroy_organization_session_path, method: :delete, data: { turbo: false }, class: "btn btn-danger ps-2"
  - else
    .container.d-flex.justify-content-between.align-items-center
      %h1 SASS APP
      = link_to "Login", new_organization_session_path, class: "btn btn-primary"